<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body{
            background-image:url("https://media.istockphoto.com/photos/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-picture-id1332097112?b=1&k=20&m=1332097112&s=170667a&w=0&h=D_26WN2nM805ssHpKsrqFe9mE63_j2bNefybNF0wOLw=");
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">StoreAssistant</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="menu">Menu</a></li>
            <li><a href="customer_interface">Customer Interface</a></li>
            <li><a href="staff">Staff</a></li>
            <li><a href="credits">Credits</a></li>
          </ul>
        </div>
      </nav>
    
</body>
</html>